/**  Globals **/
@import url(/Source/bootstrap/css/bootstrap.min.css);
@import url(/Source/css/Dark-Plots.css);
@import url(/Source/bootstrap-icons/font/bootstrap-icons.min.css);
@import url(../CSS/Mobile.css) screen and (min-width: 300px) and (max-width:990px);
@import url(../CSS/Desktop.css) screen and (min-width: 991px) and (max-width:3841px);
/* Custom default button *
 
 /** Base structure **/

body {
  font-family: 'Video';
  box-shadow: inset 0 0 0rem rgba(0, 0, 0, 0);
  background-image: unset !important;
  margin-top: 0.0%;
  height: 100%;
}

a {
  color: var(--bs-body-color);
  text-decoration: unset;
}

a:hover {
  color: #000;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-fluid {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) *1.0);
  padding-left: calc(var(--bs-gutter-x) * 1.0);
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.Mobile {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn-main:hover {
  background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
  color: var(--bs-btn-hover-color);
}
