.Desktop {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.Mobile {
    width: unset !important;
    height: unset !important;
    padding: unset !important;
    margin: unset !important;
    overflow: unset !important;
    clip: unset !important;
    white-space: unset !important;
    border: unset !important;
}

/** Adjustment for Tablets and Mobiles **/
@media screen and (max-width: 990px) {
  /** Main Page Home **/
  .main-description {
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-top: 3%;
    padding-right: 22%;
    padding-left: 22%;
    color: #BFBFBF;
    margin-bottom: 4%;
  }
  .title-main {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 58px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .btn-main {
    padding-top: 8%;
    padding-bottom: 8%;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
  }
  .btn-main {
    background: linear-gradient(138deg, rgb(255, 90, 249) 1%, rgba(255, 255, 255, 0.75) 50%, rgb(0, 155, 255) 100%);
    border-radius: 50.5px;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 14px;
    display: flex;
    text-align: center;
    color: var(--bs-btn-color);
    border: transparent;
    margin: auto;
  }
  /** End Main Page Home **/
}
@media screen and (max-width: 720px){
  /** Main Page Home **/
  .title-main {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 58px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 6%;
  }
  .main-description {

    font-size: 22px;
    line-height: 26px;
    margin-top: 3%;
    padding-right: 30%;
    padding-left: 30%;
    margin-bottom: 4%;
  }
  /** End Main Page Home **/
}

@media screen and (max-width: 600px){
  /** Main Page Home **/
  .title-main {

    font-size: 24px;
    line-height: 50px;

  }
  .main-description {
    font-size: 18px;
    line-height: 23px;
  }
  .btn-main {
    font-size: 22px;
    line-height: 14px;
  }
  /** End Main Page Home **/
}

@media screen and (max-width: 520px){
  /** Main Page Home **/
  .title-main {
    font-size: 22px;
    line-height: 46px;
  }
  .main-description {
    font-size: 21px;
    line-height: 24px;
    padding-right: 24%;
padding-left: 24%;
  }
  .btn-main {
    font-size: 28px;
    line-height: 14px;
  }
  /** End Main Page Home **/
}

@media screen and (max-width: 429px){
  /** Main Page Home **/
  .title-main {
    font-size: 20px;
    line-height: 46px;
  }
  .main-description {
    font-size: 16px;
    line-height: 22px;
  }
  /** End Main Page Home **/
}

@media screen and (max-width: 415px){
  /** Main Page Home **/
  .title-main {
    font-size: 18px;
    line-height: 46px;
  }
  .main-description {
    margin-top: 4%;
    padding-right: 26%;
    padding-left: 26%;
    margin-bottom: 6%;
  }
  /** End Main Page Home **/
}

@media screen and (max-width: 391px){
  /** Main Page Home **/
  /** End Main Page Home **/
}

@media screen and (max-width: 361px){
  /** Main Page Home **/
  .title-main {
    font-size: 14px;
    line-height: 46px;
  }
  .main-description {
    font-size: 13px;
    line-height: 20px;
    margin-top: 6%;
    padding-right: 22%;
    padding-left: 22%;
    margin-bottom: 8%;
  }
  .btn-main {
    font-size: 19px;
    line-height: 14px;
  }
  /** End Main Page Home **/
}

@media screen and (max-width: 330px){
  /** Main Page Home **/
  /** End Main Page Home **/
}

@media screen and (max-width: 320px){
  /** Main Page Home **/
  /** End Main Page Home **/
}
