  /*
 * Globals
 */

@import url(/Source/css/Dark-Plots.css);
@import url(/Source/css/Landing-Page.css);
@import url(/Source/css/mobiles.css);
@import url(/Source/css/);

/* Custom default button *

/*
 * Base structure
 */

body {
  font-family: 'Video';
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 0rem rgba(0, 0, 0, 0);
  background-image: var(--bs-body-image);
}

/*
 * Header
 */

a {
  color: var(--bs-body-color);
}

a:hover {
  color: rgb(0, 117, 163);
}

svg {
  filter: var(--bs-svg-color);
} 
