  /*
 * Globals
 */

@import url(/Source/css/fonts.css);
@import url(/Source/css/Dark-Plots.css);
@import url(/Source/css/Landing-Page.css);

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  font-family: Founders Grotesk Regular;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: var(--bs-body-image);;
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


.bd-mode-toggle {
  z-index: 1500;
}

a {
  color: var(--bs-body-color);
}

a:hover {
  color: rgb(0, 117, 163);
}

footer {
  margin-top: 20%;
  padding-bottom: 4%;
}

.footer-menu-title {
font-family: Founders Grotesk Regular;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
}

.footer-menu-item {
font-family: Founders Grotesk Regular; 
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

}

/*
 * Special Containers
 */

 @media (min-width: 1400px){
 .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   max-width: 1740px;
  }
}