/*
 * Dark Plots Theme Still need Adjust
 */

 [data-bs-theme="dark"] {
    color-scheme: dark;
    --bs-body-color: #ffffff;
    --bs-body-color-rgb: 255,255,255;
    --bs-body-bg: #000;
    --bs-body-image: linear-gradient(115deg, rgb(0, 0, 0) 68%, #983694 100%, rgb(0, 0, 0) 100%);
    --bs-body-bg-rgb: 0,0,0,;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255,255,255;
    --bs-secondary-color: rgba(255, 255, 255, 1.00);
    --bs-secondary-color-rgb: 255,255,255;
    --bs-secondary-bg: #000000;
    --bs-secondary-bg-rgb: 0,0,0;
    --bs-tertiary-color: rgba(173, 181, 189, 0.5);
    --bs-tertiary-color-rgb: 173,181,189;
    --bs-tertiary-bg: #fff;
    --bs-tertiary-bg-rgb: 0,0,0;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110,168,254;
    --bs-link-hover-color-rgb: 139,185,254;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
    
    --bs-btn-color: black;
    --bs-btn-hover-color: white;
    --bs-button-menu: #000;
    --bs-nav-link-menu: #fff;
    --bs-text-content-body: #999999;
    --bs-svg-color: invert(0);
  }

  /*
 * Dark Plots Theme Still need Adjust
 */

 [data-bs-theme="light"] {
  color-scheme: dark;
  --bs-body-color: #ffffff;
  --bs-body-color-rgb: 255,255,255;
  --bs-body-bg: #000;
  --bs-body-image: linear-gradient(115deg, rgb(0, 0, 0) 68%, #983694 100%, rgb(0, 0, 0) 100%);
  --bs-body-bg-rgb: 0,0,0,;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(255, 255, 255, 1.00);
  --bs-secondary-color-rgb: 255,255,255;
  --bs-secondary-bg: #000000;
  --bs-secondary-bg-rgb: 0,0,0;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173,181,189;
  --bs-tertiary-bg: #000000;
  --bs-tertiary-bg-rgb: 0,0,0;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110,168,254;
  --bs-link-hover-color-rgb: 139,185,254;
  --bs-code-color: #e685b5;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;

  --bs-btn-color: black;
  --bs-btn-hover-color: white;
  --bs-button-menu: #000;
  --bs-nav-link-menu: #fff;
  --bs-text-content-body: #999999;
  --bs-svg-color: invert(0);
}
  /* Disable logo Colors invert
    [data-bs-theme="light"] {
    --bs-svg-color: invert(1);
}
*/