  /*
 * Globals
 */
 @import url(/Source/bootstrap/css/bootstrap.min.css);
 @import url(/Source/css/Dark-Plots.css);
 @import url(/Source/css/mobiles.css);
 @import url(/Source/css/dashboard.css);
 @import url(/Source/bootstrap-icons/font/bootstrap-icons.min.css);
 @import url(/Source/css/animation.css);
 
 /* Custom default button *
 
 /*
  * Base structure
  */
 
 body {
   font-family: 'Video';
   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
   box-shadow: inset 0 0 0rem rgba(0, 0, 0, 0);
   background-image: unset !important;
   margin-top: 0.5%;
 }
 a {
    color: var(--bs-body-color);
    text-decoration: unset;
  }
  
  a:hover {
   color: #000;
   text-shadow: #fff 3px 0 10px;
 }

.container-fluid {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) *2.0);
  padding-left: calc(var(--bs-gutter-x) * 2.0);
  margin-right: auto;
  margin-left: auto;
height: 100%;
}
.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

 .accordion-button::after {
   --bs-accordion-btn-icon: url("/Source/img/+.svg") !important;
   --bs-accordion-btn-active-icon: url("/Source/img/-.svg") !important;
 }
  /**
* MENU
*/*
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: unset;
    color: var(--bs-nav-link-menu);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s;
  }
  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    padding-left: 3rem !important;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 58px;
    padding-left: 2.5%;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
  }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 5rem;
      padding-left: 1rem;
      padding-top: 1.2rem;
    }
 /*
  * Header
  */
 
 svg {
   filter: var(--bs-svg-color);
 } 
 
/*
* content
*/
.title-dashboard {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 10%;
  }
  .title-swap {
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 14%;
    margin-right: 14%
  }
  .swap-balance{
    font-family: 'Uniwars';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: right;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
  }
  .input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 0px;
    border-radius: 2rem;
  }
  
  .btn-dashboard {
    background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
    border-radius: 35.5px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--bs-btn-color);
  }
  .btn-dashboard:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
  }
  .btn-dash-wallet {
    font: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    display: block;
    word-wrap: break-word;
    width: 100%;
    background: transparent !important;
    border-radius: 0.4rem;
    color: var(--bs-nav-link-menu);
  }
.img-dash{
        float: right;
        width: 24px;
        height: 24px;
      }
.modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-modal-zindex: 1055;
    --bs-modal-width: 400px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 10rem;
    --bs-modal-color: ;
    --bs-modal-bg: #1C2023;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: 2rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (0px));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: transparent;
    --bs-modal-header-border-width: 0px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
  }
  .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: unset !important;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
  }
  .container-fluid-iframe {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) *10.0);
    padding-left: calc(var(--bs-gutter-x) * 10.0);
    margin-right: auto;
    margin-left: auto;
    height: 100%;
  }
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
  }
  .modal-content {
    color: var(--bs-modal-color);
    pointer-events: auto;
  }
.spacer-dash-modal{
    margin-top: 2%;
    margin-bottom: 2%;
}
.spacer-dash-buttons{
margin-left: 1%;
margin-right: 1%;
}
.btn-dash-menu {
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ff48fa, #78e4ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Uniwars';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--bs-nav-link-menu);
}
  .btn-dash-menu:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
  }

  .py-5 {
    padding-top: 10rem !important;
    padding-bottom: 7rem !important;
  }

  .landing-image-icon-dash {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 50px !important;
    height: 54px !important;
    padding-left: 20%;
    padding-right: 20%;
  }

  .footer-dash{
    font: 100;
  }

body {
  height: 100%;
}

.form-signin {
  max-width: 375px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}