/*
* content
*/


.title-dashboard {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: -20%;
  }

.btn-dashboard {
    background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
    border-radius: 35.5px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--bs-btn-color);
  }
  .btn-dashboard:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
  }
.btn-dash-wallet {
    color: var(--bs-nav-link-menu);
    font-family: 'Video';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: left;
padding-top: 0.5%;
padding-bottom: 0.5%;
padding-left: 1%;
padding-right: 2%;
display: block;
word-wrap: break-word;
width: 100%;
background: transparent !important;
}
.img-svg-dash{
    float: right;
}
.modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-modal-zindex: 1055;
    --bs-modal-width: 400px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 10rem;
    --bs-modal-color: ;
    --bs-modal-bg: #1C2023;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: 2rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (0px));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: transparent;
    --bs-modal-header-border-width: 0px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
  }
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
  }
  .modal-content {
    color: var(--bs-modal-color);
    pointer-events: auto;
  }
.spacer-dash-modal{
    margin-top: 2%;
    margin-bottom: 2%;
}
  .btn-dash-menu {
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ff48fa, #78e4ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #000 inset;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 2%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--bs-nav-link-menu);
  }
  .btn-dash-menu:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
  }

  .py-5 {
    padding-top: 12rem !important;
    padding-bottom: 10rem !important;
  }

  .landing-image-icon-dash {
    max-width: 32%;
    max-height: 100%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline;
    width: 39px !important;
    height: 48px !important;
  }
  body {
    font-family: 'Video';
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    margin-top: 0.5%;
    background-image: unset !important;
  }
  .footer-dash{
    font: 100;
  }