@font-face {
    font-family: Uni Bold;
    src: url(/Source/fonts/UniwarsRg-Bold.woff);
  }
@font-face {
    font-family: Uni Bold;
    src: url(/Source/fonts/UniwarsRg-Bold.woff2);
  }
  @font-face {
    font-family: Uni Bold italic;
    src: url(/Source/fonts/UniwarsRg-BoldItalic.woff);
  }
  @font-face {
    font-family: Uni Bold italic;
    src: url(/Source/fonts/UniwarsRg-BoldItalic.woff2);
  }
  @font-face {
    font-family: Uni Regular;
    src: url(/Source/fonts/UniwarsBl-Regular.woff);
  }
  @font-face {
    font-family: Uni Regular;
    src: url(/Source/fonts/UniwarsBl-Regular.woff2);
  }
  @font-face {
    font-family: UniEL Regular;
    src: url(/Source/fonts/UniwarsEl-Regular.woff);
  }
  @font-face {
    font-family: UniEL Regular;
    src: url(/Source/fonts/UniwarsEl-Regular.woff2);
  }
  @font-face {
    font-family: UniEL Grotesk SemiBold;
    src: url(/Source/fonts/FoundersGrotesk-Semibold.woff);
  }
  @font-face {
    font-family: Movie Regular;
    src: url(/Source/fonts/ModeNine.woff);
  }
  @font-face {
    font-family: Movie Regular;
    src: url(/Source/fonts/ModeNine.woff2);
  }
