

.title-0 {
    font-family: Founders Grotesk Bold;
    font-style: normal;
    font-size: 96px;
    line-height: 113px;
    padding-top: 5%;
    padding-bottom: 2%;
    color: var(--bs-body-color);
  }
  
  .title-1 {
    font-family: Founders Grotesk Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 113px;
    text-align: right;
  }
  
  .title-2 {
    font-family: Founders Grotesk Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 113px;
    letter-spacing: 0.15em;
    
    background: linear-gradient(94.82deg, #FF56F9 -17.61%, #40FFFF 79.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .title-landing-0 {
  font-family: Founders Grotesk Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0.04em;
  }
  
  .title-landing-1 {
    font-family: Founders Grotesk Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  /*
 * Content BOX Text
 */

.content-landing {
    font-family: Founders Grotesk Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0.04em;
    color: var(--bs-body-color);
  }
  
  .landing-content-right {
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(100.12deg, rgba(255, 90, 249, 0.25) -31.57%, rgba(0, 155, 255, 0.25) 134.36%);
    border-radius: 139px;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    text-align: right;
    letter-spacing: 0.04em;
    color: var(--bs-body-color);
    margin-top: 5%;
    margin-bottom: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    font-family: Founders Grotesk Regular;
  }
  
  .tittle-content {
    font-family: Founders Grotesk Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0.04em;
    color: var(--bs-body-color);
    }
  
   /*
   * Special Text colours
   */
  
   .spacer-title {
    margin-top: 5%;
    margin-bottom: 10%;
   }
  
   .spacer-0 {
    margin-top: 2%;
    margin-bottom: 5%;
   }
  
   /*
   * Special Button
   */
  
  .btn-plots {
    --bs-btn-padding-x: 3.00rem;
    --bs-btn-padding-y: 1.00rem;
    --bs-btn-font-family: 'Founders Grotesk Light';
    --bs-btn-font-size: 24px;
    --bs-btn-font-style: normal;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 28px;
    --bs-btn-color: black;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
    border-radius: 35.5px;
    background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-top: 1.6%;
  }
  
  /*
   * Special Css for the landing  page
   */
  .landing-button {
    padding-top: 3%;
    padding-bottom: 4%;
  }
  
  .landing-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
  margin-right: auto;
  }
  
  .landing-content {
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(100.12deg, rgba(255, 90, 249, 0.25) -31.57%, rgba(0, 155, 255, 0.25) 134.36%);
    border-radius: 139px;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bs-body-color);
    margin-top: 5%;
    margin-bottom: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    font-family: Founders Grotesk Regular;
  }
  