

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 3rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-family: 'Video';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--bs-nav-link-menu);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1.2rem;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  list-style: none;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  padding-left: 3rem !important;
  font-family: 'Uniwars';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  padding-left: 2.5%;
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

/*
  .background-landing {
    background-image: linear-gradient(130deg, rgb(0, 0, 0) 78%, rgb(164, 0, 154) 100%, rgb(0, 0, 0) 100%)  
 }
  */
.title-0 {
  padding-top: 5%;
  padding-bottom: 2%;
  color: var(--bs-body-color);
  font-family: 'Uniwars';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  }
  
  .title-1 {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 115px;
    text-align: right;
    background: linear-gradient(93.21deg, #FD4FF7 40.31%, rgb(64, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .title-2 {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 115px;
    letter-spacing: 0.15em;
    text-align: left;
    background: linear-gradient(93.21deg, #FD4FF7 10%, rgb(64, 255, 255) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .title-landing-0 {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
  }
  
  .title-landing-1 {
    font-family: Founders Grotesk Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .title-footer {
    font-family: Founders Grotesk Medium;
    font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;  
  }

  .title-content {
    font-family: 'Video';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.75);
    }

  /*
 * Content BOX Text
 */

.content-landing {
  font-family: Video;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--bs-body-color);
}
  
.container-fluid {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) *5.0);
  padding-left: calc(var(--bs-gutter-x) * 5.0);
  margin-right: auto;
  margin-left: auto;
}

  .landing-content-right {
    max-width: 1330px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(100.12deg, rgba(255, 90, 249, 0.25) -31.57%, rgba(0, 155, 255, 0.25) 134.36%);
    border-radius: 130px;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    text-align: right;
    letter-spacing: 0.04em;
    color: var(--bs-body-color);
    margin-top: 5%;
    margin-bottom: 16.5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Founders Grotesk Regular;
  }

  .landing-content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: var(--bs-body-color);
    margin-top: 5%;
    margin-bottom: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    font-family: Video;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
  }
  
   /*
   * Special Text colours
   */
  
   .spacer-title {
    margin-top: 5%;
    margin-bottom: 5%;
   }
  
   .spacer-0 {
    margin-top: 2%;
    margin-bottom: 5%;
   }

   .spacer-img {
    margin-top: 5%;
    margin-bottom: 10%;
   }
  
   /*
   * Special Button
   */

   .btn-menu {
    background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 35.5px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Uniwars';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
  .btn-menu:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }
  
  .btn-plots {
    background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
    border-radius: 35.5px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }

  .btn-plots:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }

  .btn-spacer {
    padding-left: 1.5%;
    padding-right: 0%;
  }

  .btn-dark-light {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-left: 1.5%;
    padding-right: 0%;
  }
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }
  
  /*
   * Special Css for the landing  page
   */
   .col-lg-2-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .landing-button {
    padding-top: 3%;
    padding-bottom: 4%;
  }
  
  .landing-image {
    max-width: 50%;
    max-height: 100%;
    display: block;
    margin-left: auto;
  margin-right: auto;
  }

  .landing-image-footer {
    max-width: 20%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-image-icon {
    max-width: 12%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
  }
  
  footer {
    margin-top: 20%;
    padding-bottom: 4%;
  }
  
  .footer-menu-title {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  
  .footer-menu-item {
    font-family: 'Video';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px; 
  }