@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1740px;
     }
}

@media only screen and (min-width: 1400px)  {
    .footer-col {
        flex: 0 0 auto;
        width: 12%;
        text-align: center;
      }
}

@media only screen and (min-width: 990px) and (max-width: 1050px) {
    .footer-col {
        flex: 0 0 auto;
        width: 15%;
        text-align: center;
      }
      .navbar-brand {
        padding-top: var(--bs-navbar-brand-padding-y);
        padding-bottom: var(--bs-navbar-brand-padding-y);
        margin-right: var(--bs-navbar-brand-margin-end);
        padding-left: 0rem !important;
        font-family: 'Uniwars';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        padding-left: 2.5%;
        color: var(--bs-navbar-brand-color);
        text-decoration: none;
        white-space: nowrap;
      }
}



@media only screen and (min-width: 380px) and (max-width: 990px) {
  .footer-col {
      flex: 0 0 auto;
      width: 15%;
      text-align: center;
    }
    .navbar-nav {
      --bs-nav-link-padding-x: 0;
      --bs-nav-link-padding-y: 0.5rem;
      --bs-nav-link-font-weight: ;
      --bs-nav-link-color: var(--bs-navbar-color);
      --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
      --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
      list-style: none;
    }
    .navbar-brand {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 1.5rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color);
      text-decoration: none;
      white-space: nowrap;
    }
    .landing-image-icon {
      max-width: 12%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: inline;
    }
    .btn-menu {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
        background-color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      border-radius: 35.5px;
      padding-top: 5.5%;
      padding-bottom: 5.5%;
      padding-left: 2%;
      padding-right: 2%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: var(--bs-button-menu);
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 5%;
    }
    .btn-dark-light {
      --bs-btn-padding-x: 0.75rem;
      --bs-btn-padding-y: 0.375rem;
      border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
      border-radius: var(--bs-btn-border-radius);
      background-color: var(--bs-btn-bg);
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      padding-left: 1.5%;
      padding-right: 0%;
      padding-top: 10%;
    }
}



@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .footer-col {
        flex: 0 0 auto;
        width: 15%;
        text-align: center;
      }
}