/** PC Adjustment for Resolutions **/
@media screen and (max-width: 3841px) {

  /** Main Page Home **/
  .btn-main {
    background: linear-gradient(138deg, rgb(255, 90, 249) 1%, rgba(255, 255, 255, 0.75) 50%, rgb(0, 155, 255) 100%);
    border-radius: 50.5px;
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 14px;
    display: flex;
    text-align: center;
    color: var(--bs-btn-color);
    border: transparent;
    margin: auto;
  }

  .main-description {
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    text-align: center;
    margin-top: 8%;
    padding-right: 20%;
    padding-left: 20%;
  }

  .title-main {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 60px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .landing-image-icon {
    width: 150px;
    height: 165px;
    margin-right: 0%;
  }

  .navbar-brand-main {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: 144px;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-family: "Uniwars";
    line-height: 72px;
    margin-top: 2%;
    font-weight: 600;
  }

  .landing-image-icon-dash {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 98px;
    height: 90px;
    padding-left: 10%;
    padding-right: 10%;
  }

  /** End Main Page Home **/
}

@media screen and (max-width: 2561px) {

  /** Main Page Home **/
  .btn-main {
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    font-weight: 400;
    font-size: 48px;
    line-height: 14px;
  }

  .title-main {
    font-size: 80px;
    line-height: 60px;
  }

  .main-description {
    font-size: 40px;
    line-height: 47px;
  }

  .landing-image-icon {
    width: 150px;
    height: 165px;
    margin-right: 4%;
    margin-left: 4%;
  }

  .navbar-brand-main {
    font-size: 110px;
  }

  .landing-image-icon-dash {
    width: 74px;
    height: 60px;
  }

  /** End Main Page Home **/
}

@media screen and (max-width: 1921px) {

  /** Main Page Home **/
  .main-description {
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    margin-top: 8%;
    padding-right: 22%;
    padding-left: 22%;
    color: #BFBFBF;
  }

  .title-main {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 58px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .btn-main {
    background: linear-gradient(138deg, rgb(255, 90, 249) 1%, rgba(255, 255, 255, 0.75) 50%, rgb(0, 155, 255) 100%);
    border-radius: 35.5px;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 10px;
    display: flex;
    text-align: center;
    color: var(--bs-btn-color);
    border: transparent;
    margin: auto;
  }

  .landing-image-icon {
    width: 50px;
    height: 70px;
  }

  .navbar-brand-main {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: 70px;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-family: "Uniwars";
    line-height: 72px;
    margin-top: 2%;
    font-weight: 600;
  }

  .landing-image-icon-dash {
    width: 50px;
    height: 80px;
  }

  /** End Main Page Home **/
  /** Star Home Not Conected **/
  .navbar-dark {
    --bs-navbar-color: rgba(255, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(251, 0, 0, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .brand-logo{
    width: 30px;
    height: 40px;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
  }
  .bg-dark-menu {
    --bs-bg-opacity: 1;
    background-color: #1C2023 !important;
  }
  .btn-dash-menu {
    border: solid 3px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ff48fa, #78e4ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #000 inset;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--bs-nav-link-menu);
    border: transparent;
    margin-bottom: 0.5%;
  }
  
  .btn-dash-menu:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
  }
  .btn-dash-wallet {
    font: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    display: block;
    word-wrap: break-word;
    width: 100%;
    background: transparent;
    border-radius: 0.4rem;
    color: var(--bs-nav-link-menu);
    border: 1px solid gray;
  }
  
  .btn-dash-wallet:hover {
    background: #252a2e;
    color: var(--bs-btn-hover-color);
  }
  .btn-swap-0 {
    background: linear-gradient(138deg, rgb(255, 90, 249) 1%, rgba(255, 255, 255, 0.75) 50%, rgb(0, 155, 255) 100%);
    border-radius: 50.5px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 10px;
    display: flex;
    text-align: center;
    color: var(--bs-btn-color);
    float: right;
    border: transparent;
    margin-right: -3%;
    margin-top: 5%;
  }
  .title-swap {
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    margin-left: 14%;
    margin-right: 14%;
  }
  .form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #000;
    outline: 0;
    box-shadow: unset;
  }
  
  .form-signin {
    max-width: 620px;
    padding: 1rem;
    min-width: 320px;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 0rem 1.55rem;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0px;
    appearance: none;
    border-radius: 5rem;
    transition: unset;
    z-index: 1020;
    margin-right: 0%;
    margin-top: 6%;
  }
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  .swap-input {
    background-color: white;
    border-radius: 1.5rem;
    height: 110px;
    width: 500px;
  }
  
  .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0px;
    border-radius: 2rem;
    padding-right: 450px
  }
  
  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
  }
  .input-group-text:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  }
    .spacer-sidebar {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .spacer-dash-modal {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .icon-swap {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    right: -28px !important;
    z-index: 1020;
    width: 34px;
    height: 34px;
    margin-top: -18%;
  }
  .icon-sidebar {
    width: 24px;
    height: 24px;
  }
  .icon-header-swap {
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: 26px;
    height: 26px;
    float: right;
  }
  .network-icon{
    display: block;
    width: 26px;
    height: 26px;
    margin-left: 2%;
    margin-right: 6%;
  }
  .wallet {
    border-radius: 50.5px;
    border: 1px solid #A8A3FC;
    background: #131517;
    padding-right: 1.5rem;
    padding-left: 4rem;
    margin-right: 2rem;
    padding-top: 0.8%;
    padding-bottom: 0.6%;
    display: flex;
  }
  
.nav-item-swap {
  display: flex;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-family: 'Video';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  color: var(--bs-nav-link-menu);
  text-decoration: none;
  padding-right: unset;
  padding-left: unset;
  margin-right: unset;
}
  .nav-item-swap-left {
    display: block;
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: var(--bs-nav-link-menu);
    text-decoration: none;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  /** End Home Not Connected **/
}

@media screen and (max-width: 1601px) {

  /** Main Page Home **/
  .btn-main {
    font-size: 30px;
    line-height: 10px;
  }

  .main-description {
    font-size: 22px;
    line-height: 30px;
  }

  .navbar-brand-main {
    font-size: 60px;
  }

  .title-main {
    font-size: 60px;
  }

  .landing-image-icon-dash {
    width: 50px;
    height: 65px;
  }

  /** End Main Page Home **/
}

@media screen and (max-width: 1441px) {
  /** Main Page Home **/
  /** End Main Page Home **/
}

@media screen and (max-width: 1281px) {

  /** Main Page Home **/
  .title-main {
    font-size: 45px;
    line-height: 55px;
  }

  .btn-main {
    padding-top: 9%;
    padding-bottom: 9%;
    font-size: 24px;
    line-height: 10px;
  }

  .main-description {
    font-size: 18px;
    line-height: 25px;
  }

  .navbar-brand-main {
    font-size: 50px;
  }

  .landing-image-icon {
    width: 40px;
    height: 60px;
  }

  .landing-image-icon-dash {
    width: 40px;
    height: 60px;
  }

  /** End Main Page Home **/
}

@media screen and (max-width: 1025px) {

  /** Main Page Home **/
  .btn-main {
    padding-top: 12%;
    padding-bottom: 12%;
    font-weight: 400;
    font-size: 22px;
    line-height: 10px;
    padding-left: 16%;
    padding-right: 16%;
  }

  .main-description {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 10%;
  }

  .title-main {
    font-size: 35px;
    line-height: 58px;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 8%;
  }

  .landing-image-icon {
    width: 32px;
    height: 54px;
  }

  .navbar-brand-main {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: 44px;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-family: "Uniwars";
    line-height: 72px;
    margin-top: 2%;
    font-weight: 600;
  }

  /** End Main Page Home **/
}