  /*
 * Globals
 */
 @import url(/Source/bootstrap/css/bootstrap.min.css);
 @import url(/Source/css/Dark-Plots.css);
 @import url(/Source/bootstrap-icons/font/bootstrap-icons.min.css);
 
 /* Custom default button *
 
 /*
  * Base structure
  */
 
 body {
   font-family: 'Video';
   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
   box-shadow: inset 0 0 0rem rgba(0, 0, 0, 0);
   background-image: unset !important;
   margin-top: 0.5%;
   height: 100%;
 }
 
 a {
    color: var(--bs-body-color);
    text-decoration: unset;
  }
  
  a:hover {
   color: #000;
 }

.container-fluid {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) *0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
height: 100%;
}
.container-fluid-iframe {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) *10.0);
  padding-left: calc(var(--bs-gutter-x) * 10.0);
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
/**
* MENU
*/
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 1rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  border-bottom: 1px solid #40FFFF;
  padding-bottom: 2%;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: unset;
    color: var(--bs-nav-link-menu);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s;
  }
  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    padding-left: 3rem !important;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 0%;
    color: var(--bs-navbar-brand-color) !important;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: #fff 3px 0 10px;
  }
  .navbar-brand-main {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    padding-left: 3rem !important;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;    
    padding-left: 2.5%;
    color: var(--bs-navbar-brand-color) !important;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: #fff 3px 0 10px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
   padding-right: 5rem;
   padding-left: 1rem;
   padding-top: 1.2rem;
  } 
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
/*
* content
*/
.title-dashboard {
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 10%;
  }
  .title-swap {
    font-family: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 14%;
    margin-right: 14%
  }
  .swap-balance{
    font-family: 'Uniwars';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: right;
  }
/*
* Swap Format
*/
  .form-control {
    display: block;
    width: 100%;
    padding: 1.8rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0.25);
  }
  .form-signin {
    max-width: 720px;
    padding: 1rem;
    min-width: 320px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  .input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 0px;
    border-radius: 2rem;
  }
  .input-group-text:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
  }
/*
* Buttons
*/
  .btn-dashboard {
    background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
    border-radius: 35.5px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--bs-btn-color);
    border: transparent;
  }
  .btn-dashboard:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
    text-shadow: #fff 3px 0 10px;
    border: transparent;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.5);
    transform: translateY(-7px);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .btn-dashboard-disabled {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    border-radius: 35.5px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--bs-btn-color);
    border: transparent;
  }
  .btn-swap {
    background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
    border-radius: 35.5px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    text-align: center;
    color: var(--bs-btn-color);
    float: right;
    border: transparent;
  }
  .btn-swap:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
    text-shadow: #fff 3px 0 10px;
    border: transparent;
  }
  .btn-swap-max {
    background: transparent !important;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    border: 0px;
    border: transparent;
  }
  .btn-swap-max:hover {
    background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
    color: var(--bs-btn-hover-color);
    text-shadow: #fff 3px 0 10px;
  }
  .btn-dash-wallet {
    font: 'Video';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    display: block;
    word-wrap: break-word;
    width: 100%;
    background: transparent !important;
    border-radius: 0.4rem;
    color: var(--bs-nav-link-menu);
    border: transparent;
  }
  .btn-dash-menu {
    border: solid 3px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ff48fa, #78e4ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #000 inset;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Uniwars';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--bs-nav-link-menu);
    border: transparent;
  }
    .btn-dash-menu:hover {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      color: var(--bs-btn-hover-color);
      text-shadow: #fff 3px 0 10px;
    }
/*
* images
*/
  .img-dash{ 
    float: right;
    width: 24px;
    height: 24px;
   }
  .landing-image-icon-dash {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 50px !important;
    height: 54px !important;
    padding-left: 20%;
    padding-right: 20%;
   }
  svg {
    filter: var(--bs-svg-color);
   } 
/*
* Spacers
*/
  .swap-spacer-0{
    text-align: right;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  .swap-spacer-1 {
    margin-right: 35%;
    width: 63px;
    height: auto;
  }
  .swap-spacer-2 {
    margin-top: 4%;
  }
  .spacer-dash-modal{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .spacer-dash-buttons{
  margin-left: 1%;
  margin-right: 1%;
  }
  .py-5 {
    padding-top: 10rem !important;
    padding-bottom: 7rem !important;
  }
/*
* Modal
*/
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-modal-zindex: 1055;
    --bs-modal-width: 400px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 10rem;
    --bs-modal-color: ;
    --bs-modal-bg: #1C2023;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: 2rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (0px));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: transparent;
    --bs-modal-header-border-width: 0px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
  }
  .modal-content {
    color: var(--bs-modal-color);
    pointer-events: auto;
  }
  .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: unset !important;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
  }
  /** PC Adjustment for Resolutions **/
  @media screen and (max-width: 3840px) {
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 90px;
      line-height: 108px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .landing-image-icon-dash {
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: inline;
      width: 134px !important;
      height: 117px !important;
      padding-left: 20%;
      padding-right: 20%;
    }
    .gap-2 {
      gap: 2rem !important;
    }
    .py-5 {
      padding-top: 22rem !important;
      padding-bottom: 16rem !important;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .mb-3 {
      margin-bottom: 0rem !important;
    }
  }
  @media screen and (max-width: 2561px) {
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 71px;
      line-height: 100px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .landing-image-icon-dash {
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: inline;
      width: 105px !important;
      height: 70px !important;
      padding-left: 20%;
      padding-right: 20%;
    }
    .gap-2 {
      gap: 2rem !important;
    }
    .py-5 {
      padding-top: 12rem !important;
      padding-bottom: 9rem !important;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .mb-3 {
      margin-bottom: 0rem !important;
    }
  }
  @media screen and (max-width: 1921px) {
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 71px;
      line-height: 100px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .px-4 {
      padding-right: 4rem !important;
      padding-left: 4rem !important;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .mb-3 {
      margin-bottom: 0rem !important;
    }
    .py-5 {
      padding-top: 9rem !important;
      padding-bottom: 7rem !important;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .mb-3 {
      margin-bottom: 0rem !important;
    }
    .landing-image-icon-dash {
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: inline;
      width: 70px !important;
      height: 70px !important;
      padding-left: 20%;
      padding-right: 20%;
    }
  }
  @media screen and (max-width: 1601px) {
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 43px;
      line-height: 58px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .px-4 {
      padding-right: 3rem !important;
      padding-left: 3rem !important;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .mb-3 {
      margin-bottom: 0rem !important;
    }
    
  }
  @media screen and (max-width: 1280px) {
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 43px;
      line-height: 58px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .py-5 {
      padding-top: 9rem !important;
      padding-bottom: 4rem !important;
    }
    .px-4 {
      padding-right: 3rem !important;
      padding-left: 3rem !important;
    }
    .gap-2 {
      gap: 1rem !important;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .mb-3 {
      margin-bottom: 0rem !important;
    }
    .landing-image-icon-dash {
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: inline;
      width: 57px !important;
      height: 70px !important;
      padding-left: 20%;
      padding-right: 20%;
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
  }
  @media screen and (max-width: 1025px) {
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 55px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .py-5 {
      padding-top: 9rem !important;
      padding-bottom: 5rem !important;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .mb-3 {
      margin-bottom: 0rem !important;
    }
  }
  @media screen and (max-width: 721px) {

  }
    /** Mobiles Adjustment for Resolutions **/
  @media screen and (max-width: 601px) {

  }
  @media screen and (max-width: 421px) {
    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 4.5rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .fixed-bottom {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
    }
    .d-flex {
      display: grid !important;
      margin-left: 50%;
      margin-right: 50%;
    }
    .py-5 {
      padding-top: 4rem !important;
      padding-bottom: 3rem !important;
    }
    .gap-2 {
      gap: 1.5rem !important;
    }
    .px-4 {
      margin-right: 1.0rem !important;
      margin-left: 1.0rem !important;
    }
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .container-fluid {
      --bs-gutter-x: 1rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) *0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-right: auto;
      margin-left: auto;
      height: 100%;
    }
  }
  @media screen and (max-width: 429px) {
    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 5rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 48px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .fixed-bottom {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .d-flex {
      display: grid !important;
      margin-left: 50%;
      margin-right: 50%;
    }
    .py-5 {
      padding-top: 5rem !important;
      padding-bottom: 4rem !important;
    }
    .gap-2 {
      gap: 1.5rem !important;
    }
    .px-4 {
      margin-right: 1.0rem !important;
      margin-left: 1.0rem !important;
    }
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .container-fluid {
      --bs-gutter-x: 1rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) *0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-right: auto;
      margin-left: auto;
      height: 100%;
    }
  }
  @media screen and (max-width: 414px) {
    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 4.0rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 41px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .fixed-bottom {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .d-flex {
      display: grid !important;
      margin-left: 50%;
      margin-right: 50%;
    }
    .py-5 {
      padding-top: 4rem !important;
      padding-bottom: 3rem !important;
    }
    .gap-2 {
      gap: 1.5rem !important;
    }
    .px-4 {
      margin-right: 1.0rem !important;
      margin-left: 1.0rem !important;
    }
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .container-fluid {
      --bs-gutter-x: 1rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) *0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-right: auto;
      margin-left: auto;
      height: 100%;
    }
  }
  @media screen and (max-width: 390px) {
    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 4rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .fixed-bottom {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
  }
  @media screen and (max-width: 376px) {
    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 4.0rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .fixed-bottom {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .d-flex {
      display: grid !important;
      margin-left: 50%;
      margin-right: 50%;
    }
    .py-5 {
      padding-top: 4rem !important;
      padding-bottom: 3rem !important;
    }
    .gap-2 {
      gap: 1.5rem !important;
    }
    .px-4 {
      margin-right: 1.0rem !important;
      margin-left: 1.0rem !important;
    }
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
    }
    .container-fluid {
      --bs-gutter-x: 1rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) *0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-right: auto;
      margin-left: auto;
      height: 100%;
    }
  }
  @media screen and (max-width: 361px) {

    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 3.8rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 2rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .fixed-bottom {
      position: initial;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
    }
    .d-flex {
      display: grid !important;
      margin-left: 50%;
      margin-right: 50%;
    }
    .py-5 {
      padding-top: 3rem !important;
      padding-bottom: 2rem !important;
    }
    .gap-2 {
      gap: 1.5rem !important;
    }
    .px-4 {
      margin-right: 1.0rem !important;
      margin-left: 1.0rem !important;
    }
    .py-3 {
      padding-top: 0rem !important;
      padding-bottom: 0rem !important;
    }
    .my-4 {
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
      border: transparent;
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 6%;
      padding-bottom: 6%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
      border: transparent;
    }
  }
  @media screen and (max-width: 320px) {
    .navbar-brand-main {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      padding-left: 2.5rem !important;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 33px;
      line-height: 58px;
      padding-left: 2.5%;
      color: var(--bs-navbar-brand-color) !important;
      text-decoration: none;
      white-space: nowrap;
    }
    .title-dashboard {
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 29px;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 0%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .fixed-bottom {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1030;
    }
    .pb-3 {
      padding-bottom: 0rem !important;
    }
    .d-flex {
      display: grid !important;
      margin-left: 50%;
      margin-right: 50%;
    }
    .py-5 {
      padding-top: 3rem !important;
      padding-bottom: 2rem !important;
    }
    .gap-2 {
      gap: 1rem !important;
    }
    .px-4 {
      margin-right: 1.0rem !important;
      margin-left: 1.0rem !important;
    }
    .btn-dashboard {
      background: linear-gradient(99.84deg, #FF56F9 -39.25%, #40FFFF 138.76%);
      border-radius: 35.5px;
      padding-top: 4%;
      padding-bottom: 4%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
      border: transparent;
    }
    .btn-dashboard-disabled {
      background: linear-gradient(101.39deg, rgba(255, 86, 249, 0.5) -27.48%, rgba(64, 255, 255, 0.5) 141.8%);
      border-radius: 35.5px;
      padding-top: 4%;
      padding-bottom: 4%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: 'Uniwars';
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 38px;
      text-align: center;
      color: var(--bs-btn-color);
      border: transparent;
    }
    .container-fluid {
      --bs-gutter-x: 1rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) *0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-right: auto;
      margin-left: auto;
      height: 100%;
    }
    .landing-image-icon-dash {
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: inline;
      width: 48px !important;
      height: 79px !important;
      padding-left: 20%;
      padding-right: 20%;
    }
  }